<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="container">

                <h2>"Carga el autor aqui"</h2>

            </div>

        </header>
        <div class="container">

            <form action="/autor/registro" method="POST">
                
                <div class="form-group">
                    <input type="text" classs="form-group" name="nombre" laceholder="nombre del autor">
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            <div th:if="${error != null}" class="card text-withe bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-titile">Error</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-withe bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-titile">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>

        </div>

    </body>
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
